{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="row pt-3">
    {% if is_vendor %}
    <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card" style="background: linear-gradient(to right, #ffc107,rgb(155, 117, 3)); color: white;">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-clock"></i> Pending PTW</h5>
                <p class="card-text">{{ pend_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card" style="background: linear-gradient(to right, #28a745,rgb(10, 100, 29)); color: white;">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-check-circle"></i> Approved PTW</h5>
                <p class="card-text">{{ approved_count }}</p>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card" style="background: linear-gradient(to right, #6f42c1,rgb(51, 17, 116)); color: white;">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-folder-open"></i> Open NHIR</h5>
                <p class="card-text">{{ open_count }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card" style="background: linear-gradient(to right, #007bff,rgb(16, 62, 112)); color: white;">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-folder"></i> Closed NHIR</h5>
                <p class="card-text">{{ closed_count }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>

</div>
</div>
{% endblock content %}