{% extends 'base.html' %}
{% block title %}Edit NHIR{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h2 class="my-4" data-aos="fade-up">Edit Form Submission</h2>
    <form method="post">
        <input type="hidden" name="section" value="{{ section }}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Date" class="form-label">1. Date/Time</label>
            {{ form.date }}
        </div>
        <div class="mb-3">
            <label for="ObservedBy" class="form-label">2. Observer / Reporter </label>
            {{ form.observed_by }}
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">3. Location</label>
            {{ form.location }}
        </div>
        <div class="mb-3">
            <label class="form-label">4. If other location please specify </label>
            {{ form.other_location }}
        </div>
        <div class="mb-3">
            <label class="form-label">5. Activity </label>
            {{ form.activity }}
        </div>
        <div class="mb-3">
            <label class="form-label">6. Nonconformity, Potential or Actual Incident (NPAI) Description</label>
            {{ form.observation }}
        </div>
        <h3>Category Of Observation</h3>
        <div class="mb-3">
            <label class="form-label">7. Tick As Appropriate</label>
            {{ form.hazard }}
        </div>
        <div class="mb-3">
            <label class="form-label">8. Immediate Action Taken by Observer / Reporter</label>
            {{ form.action_taken }}
        </div>
        <div class="mb-3">
            <label class="form-label">9. Suggested Futher Action</label>
            {{ form.preventive_action }}
        </div>
        <button type="submit">Save Changes</button>
    </form>
    </div>
{% endblock %}