{% load static %}
<!Doctype html>
<head>
    <title>Registration Page</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #00351F;
            color: white;
        }
        .registration-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -5px;
        }
        .input-box {
            width: 300px;
            height: 100px;
            padding: 30px;
        }
        .link {
            color: white;
            text-decoration: none;
            margin: 0 20px;
        }

        .no-border-radius {
            border-radius: 0;
        }
        @media (max-width: 576px) {
            .link {
                display: block;
                margin: 5px 0;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <div class="d-flex justify-content-between p-4 small">
        <a href="https://sharepoint.falcon-corporation.com/" target="blank" class="link">Access SharePoint Portal</a>
        <a href="https://www.falcon-corporation.com/fcl/home/" target="blank" class="link">Access Falcon Website</a>
    </div>
    <div class="registration-container" style="margin-bottom: 180px;">
        <div class="text-center mb-4">
            <img src="{% static 'img/falcon.png' %}" alt="Falcon Logo" class="img-fluid mb-2">
            <div class="fs-4">FCL IT Service Portal - Registration</div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="d-flex flex-column gap-3 justify-content-center align-items-center" style="padding-left: 40px; width: 70rem;">
                <div class="input-box d-flex flex-column align-items-center" style="text-decoration: None;">
                    <!-- Displaying messages -->
                    {% for message in messages %}
                        <p id="messages">{{ message }}</p>
                    {% endfor %}
            
                    <!-- Form Errors -->
                    <div>{{ form.errors }}</div>
                </div>
                <!-- Username Field -->
                <div class="input-box d-flex flex-column align-items-center" style="background-color: #89d05a; padding: 10px;">
                    <label class="label" for="username" style="margin-bottom: 5px;">Username</label>
                    {{ form.username }}
                </div>
                
                <!-- Email Field -->
                <div class="input-box d-flex flex-column align-items-center" style="background-color: #89d05a; padding: 10px;">
                    <label class="label" for="email" style="margin-bottom: 5px;">Email</label>
                    {{ form.email }}
                </div>

                <div class="input-box d-flex flex-column align-items-center" style="background-color: #89d05a; padding: 10px;">
                    <label class="label" for="email" style="margin-bottom: 5px;">First Name</label>
                    {{ form.first_name }}
                </div>

                <div class="input-box d-flex flex-column align-items-center" style="background-color: #89d05a; padding: 10px;">
                    <label class="label" for="email" style="margin-bottom: 5px;">Last Name</label>
                    {{ form.last_name }}
                </div>
        
                <!-- Select Group Field -->
                <div class="input-box d-flex flex-column align-items-center" style="background-color: #89d05a; padding: 10px;">
                    <label class="label" for="group" style="margin-bottom: 5px;">Select Group</label>
                    <!-- Bootstrap dropdown -->
                    <div class="dropdown">
                        {{ form.group_choices }}
                        <i class="fas fa-chevron-down" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                    </div>
                </div>
                
        
                <!-- Password Field -->
                <div class="input-box d-flex flex-column align-items-center" style="background-color: #ffcd69; padding: 10px;">
                    <label class="label" for="password1" style="margin-bottom: 5px;">Password</label>
                    {{ form.password1 }}
                </div>
        
                <!-- Confirm Password Field -->
                <div class="input-box d-flex flex-column align-items-center" style="background-color: #ffcd69; padding: 10px;">
                    <label class="label" for="password2" style="margin-bottom: 5px;">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <div>
                    <input type="checkbox" class="form-check-input mr-2" required /> I agree to the Terms and Conditions
                </div>
        
                <!-- Submit Button -->
                <div class="bg-info input-box d-flex align-items-center justify-content-center" style="background-color: #69d0ff; padding: 10px;">
                    <button class="btn text-light text-decoration-none border-0 bg-transparent">
                        Register <i class="fas fa-user-plus"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-between w-100 mt-4 px-4 small" >
                    <a href="{% url 'app:login' %}" class="link">Already have an account? Login</a>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
